$black: #000000;
$light_black: #222222;
$white: #FFFFFF;
$dirty_white: #A1A1A1;
$blue: #579ddf;
$background: #F5F6F8;
$dirty_black: #879983;
$dark_blue: #002B36;
$facebook: #46629E;
$linkedin: #0077B5;
$google: #DC4A38;
$twitter: #1DA1F2;
$insta: #EE6442;