<!-- Home Content -->
<div class="home-content">

    <!-- Home Content / User Image -->
    <div class="home-image"></div>

    <!-- Home Content / User Detail -->
    <div class="home-detail">
        <div class="detail-name">{{ localeStrings.fullname }}</div>
        <div class="detail-position">{{ localeStrings.position }}</div>
        <div>
            <i>
                <i class="fas fa-envelope"></i>&nbsp; {{ localeStrings.email }}
                <span class="spacer"> </span>
                <i class="fas fa-mobile-alt"></i>&nbsp; {{ localeStrings.mobile }}
                <span class="spacer"> </span>
                <i class="fab fa-whatsapp"></i>&nbsp; {{ localeStrings.whatsapp }}
            </i>
        </div>
        <div class="detail-bio">
            <p>
                Hello, my name is Deepak Prasad and I am from India. 
                Currently I am working as Senior Software Engineer at o9 Solutions. 
                I have completed my Bachelor of Engineering in Computer Science & Engineering from Sri Jayachamarajendra College of Engineering, Mysore. 
                I am a quick learner, good listner and technology enthusiast. 
                I like coding and problem solving. I have worked with Python, JAVA and Angular. 
                My interest lies in Mathematics, Data Science and Machine learning.
            </p>            
        </div>
        <br>
        <div>{{ localeStrings.addition }}</div>
    </div>

    <!-- Home Content / Spacer -->
    <br>

    <!-- Home Content / Buttons -->
    <div>

        <!-- Buttons / Download Resume -->
        <a href="../../../../../assets/resume_02.pdf" download>
            <button class="btn btn-info" type="button">{{ localeStrings.download }}</button>
        </a>

        <!-- Buttons / Contact Me -->
        <button class="btn btn-primary" (click)="goContact()" type="button">{{ localeStrings.contact }}</button>

    </div>

</div>