@import '../../../../../assets/color/colors.scss';
@import '../../../../../assets/font/fonts.scss';
.work-title {
    font-size: $font_size_32;
}

.work-content {
    box-shadow: 0px 0px 5px $dark_blue;
    padding: 40px 40px 70px 40px;
    margin: 30px 0px;
    background-color: $white;
    opacity: 0.9;
}

.headers {
    font-size: $font_size_24;
}

.subheader {
    font-size: $font_size_16;
}

.work-body {
    text-align: left;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.padd-10 {
    padding-left: 10px;
}

// Mobile View
@media screen and (max-width: 480px) {
    .work-content {
        padding: 40px 10px 70px 10px;
    }
}

@media screen and (max-width: 680px) {
    .work-content {
        padding: 40px 20px 20px 20px;
    }
}